.container {
  padding: 40px;
}

.dark-mode {
  background-color: rgb(42, 42, 42);
  color: #fff;
}

.light-mode {
  background-color: #fff;
}

.text {
  padding: 40px;
}

.toggle {
  padding-top: 50px;
  width: 4rem;
  height: 2rem;
  position: relative;
  outline: none !important;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
}