.dark-mode{
  background-color: #000;
  color: #fff;
}

.light-mode {
  background-color: #fff;
}

.toggle {
  width: 4rem;
  height: 2rem;
  margin: 2rem 0;
  position: relative;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  padding: 0; 
}